
      

<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content
        <div style="display: block;">
            <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  -->


  <!-- <mat-card id="piechart">
                                                <mat-card-header>
                                                    <mat-card-title>Stats</mat-card-title>
                                                </mat-card-header>
                                                
                                                    <mat-card-content>
                                                        <canvas baseChart 
                                                        [data]="pieChartData" 
                                                        [labels]="pieChartLabels" 
                                                        [chartType]="pieChartType"
                                                        [options]="pieChartOptions"
                                                        [plugins]="pieChartPlugins"
                                                        [legend]="pieChartLegend">
                                                      </canvas>
                                                        
                                                            
                                                    </mat-card-content>
                                                    
                                        </mat-card> -->

                                        <!-- <div class="example-container" style="display: block;">
                                           
                                          </div> -->
                                          <mat-card>
                                            <mat-card-content>
                                                <canvas baseChart style="width: 600px"
                                                [data]="pieChartData" 
                                                [labels]="pieChartLabels" 
                                                [chartType]="pieChartType"
                                                [options]="pieChartOptions"
                                                [plugins]="pieChartPlugins"
                                                [legend]="pieChartLegend">
                                              </canvas>

                                            </mat-card-content>
                                              
                                          </mat-card>
  

  <!-- Creates a layout with a left and right sidenav and implicit content. -->
<!-- <mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav position="end">End</mat-sidenav>
    <section>Main</section>
  </mat-sidenav-container> -->